<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load cache %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/icon_main.svg' %}">
    <link rel="stylesheet" href="{% static 'css_styles/main.css' %}">
    <title>Need buy</title>
</head>
<body>
    <h1>{% block header %}{% endblock header%}</h1>
    <div>{% block content %}{% endblock content %}</div>
    <!-- 31536000 = one year, footer doesn't change -->
    {% cache 31536000 footer %}
        <footer>
            Support: <address style="display: inline;">TulNik0@yandex.ru</address>
        </footer>
    {% endcache %}
</body>
</html>